<div class="yoga_class">
  <h3> <%= yoga_class.date %> </h3>
  <p> Required slots filled: <%= yoga_class.yoga_sessions.count %> </p>
  <p> Open slots: <%= yoga_class.size - yoga_class.yoga_sessions.count %> </p>
  <form action="/yoga_classes/<%=yoga_class.id%>/yoga_sessions" method='post'>
    <input name="authenticity_token" type="hidden" value="token_value">
    <input type="submit" value="Sign Up for this Class">
  </form>
  <!-- switch over when sessions is built -->
  <!-- <p> Required slots filled:  yoga_class.sessions.where(required: true).count  </p>
  <p> Optional slots filled:  yoga_class.sessions.where(required: false).count  </p>
  <p> Open slots:  yoga_class.size - yoga_class.sessions.count  </p> -->
</div>
