// Place all the styles related to the yoga_classes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#heading {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  text-align: center;
  height: 80px;
	z-index: -1;
}

.container {
  width: 80%;
  margin: auto;
  margin-top: 0px;
  position: relative;
  top: 80px;
  text-align: center
}

.yoga_class {
  width: 32%;
  display: inline-block;
	margin: 1em 0.5em;
	padding-bottom: 1em;
	padding-top: 0;
	background-color: azure;
	border: 2px solid #00ABB6;
	border-radius: 10px;
}

.yoga_class h3 {
	width: 100%;
	background-color: lightgrey;
	margin: 0;
	padding: 1em 0;
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
	border-bottom: 1px solid #828C91;
}