// Place all the styles related to the yoga_sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table#upcoming_classes {
	border-collapse: collapse;
	border-radius: 30px;
}

table#upcoming_classes th {
	text-align: left;
	background-color: #00ABB6;
	color: ghostwhite;
}

table#upcoming_classes * {
	border: 2px solid #828C91;
	padding: 0.25em;
}

table#upcoming_classes tr:not(:nth-child(1)) td:nth-child(2) {
	text-align: center;
}