<!DOCTYPE html>
<html>
<head>
  <title>Yoga</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<% if current_user -%>
			<form action="/logout" method="get">
				<input type="hidden" name="_method" value="delete">
				<p><input type="submit" value="logout"></p>
			</form>
		<% else %>
			<a href="/login">login</a>
			<a href="/users/new">register</a>
		<% end %>
	</header>

<%= yield %>

</body>
</html>
